.container {
  margin-top: 1rem;
  width: 22rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .container {
    width: 60%;
  }
}

.word {
  border: 2px solid rgb(197, 194, 194);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes flipWord {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes example {
  from {
    transform: scale(1);
    /* background-color: rgba(0, 0, 0, 0.504); */
  }
  to {
    transform: scale(1.05);
    /* background-color: rgb(255, 255, 255); */
  }
}
.flipWords {
  -moz-animation: flipWord 0.5s both linear !important;
  -o-animation: flipWord 0.5s both linear !important;
  -webkit-animation: flipWord 0.5s both linear !important;
  animation: flipWord 0.5s both linear !important;
}

.activeWord {
  border-color: gray;
  animation-name: example;
  animation-duration: 0.3s;
}

.green {
  color: white;
  border-color: green;
  background-color: green;
}

@keyframes wrongAnswer {
  0% {
    transform: translateX(5px);
  }
  17% {
    transform: translateX(-5px);
  }
  34% {
    transform: translateX(5px);
  }
  51% {
    transform: translateX(-5px);
  }
  68% {
    transform: translateX(5px);
  }
  84% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.wrongAnswer {
  animation-name: wrongAnswer !important ;
  animation-duration: 0.5s;
}
.red {
  color: white;
  border-color: red;
  background-color: red;
}

.gray {
  color: white;
  border-color: gray;
  background-color: gray;
}
